<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KubeOne Dashboard</title>
</head>

<body>

    <h1>KubeOne Dashboard</h1>

    <h2>Nodes</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Roles</th>
            <th>Age</th>
            <th>Version</th>
        </tr>
        {{ range .Nodes }}
        <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Status }}</td>
            <td>{{ .Roles }}</td>
            <td>{{ .Age }}</td>
            <td>{{ .Version }}</td>
        </tr>
        {{ end }}
    </table>

    <h2>MachineDeployments</h2>
    <table>
        <tr>
            <th>Namespace</th>
            <th>Name</th>
            <th>Replicas</th>
            <th>Available-Replicas</th>
            <th>Provider</th>
            <th>OS</th>
            <th>Kubelet</th>
            <th>Age</th>
        </tr>
        {{ range .MachineDeployments }}
        <tr>
            <td>{{ .Namespace }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Replicas }}</td>
            <td>{{ .AvailableReplicas }}</td>
            <td>{{ .Provider }}</td>
            <td>{{ .OS }}</td>
            <td>{{ .Kubelet }}</td>
            <td>{{ .Age }}</td>
        </tr>
        {{ end }}
    </table>


</body>

</html>